openapi: 3.0.1
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  description: |
    The Workflow Service enables you to create data and business operational controls for LUSID by modelling workflows, defining tasks, and setting state transitions with triggers and actions.

    ### Error Codes

    | Code|Name|Description |
    | ---|---|--- |
    | <a name="-1">-1</a>|Unknown error|An unexpected error was encountered on our side. |
    | <a name="144">144</a>|Duplicate In Parameter Set| |
    | <a name="151">151</a>|Invalid Parameter Value| |
    | <a name="689">689</a>|The supplied pagination token is invalid| |
    | <a name="692">692</a>|This endpoint does not support impersonation| |
    | <a name="743">743</a>|Task Definition not found.| |
    | <a name="744">744</a>|Task not found.| |
    | <a name="745">745</a>|Task Definition could not be serialised.| |
    | <a name="750">750</a>|A Guard clause rejected the Transition of a Task.| |
    | <a name="825">825</a>|An Update operation on a Task failed.| |
    | <a name="826">826</a>|Task could not be created.| |
    | <a name="827">827</a>|Task could not raise onward Notifications.| |
    | <a name="862">862</a>|Worker not found.| |
    | <a name="863">863</a>|Illogical Task Definition.| |
    | <a name="864">864</a>|Invalid Task Definition.| |
    | <a name="865">865</a>|Action processing failure.| |
    | <a name="866">866</a>|Luminesce Lookup failure.| |
    | <a name="867">867</a>|Worker failure.| |
    | <a name="868">868</a>|Worker creation failure.| |
    | <a name="871">871</a>|The specified impersonated user does not exist| |
    | <a name="872">872</a>|Worker Run not found.| |
    | <a name="873">873</a>|Action not found.| |
    | <a name="893">893</a>|Event Handler not found.| |
    | <a name="894">894</a>|Invalid Event Handler.| |
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Workflow API
  version: 0.1.1330
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
  x-fbn-error-codes:
    "-1":
      title: Unknown error
      description: An unexpected error was encountered on our side.
    "144":
      title: Duplicate In Parameter Set
    "151":
      title: Invalid Parameter Value
    "689":
      title: The supplied pagination token is invalid
    "692":
      title: This endpoint does not support impersonation
    "743":
      title: Task Definition not found.
    "744":
      title: Task not found.
    "745":
      title: Task Definition could not be serialised.
    "750":
      title: A Guard clause rejected the Transition of a Task.
    "825":
      title: An Update operation on a Task failed.
    "826":
      title: Task could not be created.
    "827":
      title: Task could not raise onward Notifications.
    "862":
      title: Worker not found.
    "863":
      title: Illogical Task Definition.
    "864":
      title: Invalid Task Definition.
    "865":
      title: Action processing failure.
    "866":
      title: Luminesce Lookup failure.
    "867":
      title: Worker failure.
    "868":
      title: Worker creation failure.
    "871":
      title: The specified impersonated user does not exist
    "872":
      title: Worker Run not found.
    "873":
      title: Action not found.
    "893":
      title: Event Handler not found.
    "894":
      title: Invalid Event Handler.
  x-fbn-description: "The Workflow Service enables you to create data and business\
    \ operational controls for LUSID by modelling workflows, defining tasks, and setting\
    \ state transitions with triggers and actions."
servers:
- url: https://fbn-prd.lusid.com/workflow
security:
- {}
tags:
- description: Endpoints for retrieving Action Logs
  name: Action Logs
- description: Methods for querying Workflow application metadata
  name: Application Metadata
- description: Workflow endpoint for managing Event Handlers
  name: Event Handlers
- description: Workflow endpoint for managing Task Definitions
  name: Task Definitions
- description: Workflow endpoint for managing Tasks
  name: Tasks
- description: Workflow endpoint for managing and running Workers
  name: Workers
paths:
  /api/actionlogs/{id}:
    get:
      operationId: GetActionLogs
      parameters:
      - description: The Action Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 36
          pattern: "^[a-zA-Z0-9\\-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              example:
                id: b9c3f647-5ce8-4d4c-9599-bd6addf6ff29
                origin:
                  taskId: c17a8537-68b0-460b-8cbb-a86724163c83
                  requestId: TestRequestId
                actionType: RunWorker
                runAsUserId: TestUserId
                loggedItems:
                - timestamp: 2024-01-02T03:00:00.0000000+00:00
                  logType: ActionSubmitted
                - timestamp: 2024-01-02T03:01:00.0000000+00:00
                  logType: ActionInitialising
                - timestamp: 2024-01-02T03:02:00.0000000+00:00
                  logType: ActionStarted
                - timestamp: 2024-01-02T03:02:00.0000000+00:00
                  logType: ActionProgressUpdate
                  details: Processing Luminesce query
                - timestamp: 2024-01-02T03:03:00.0000000+00:00
                  logType: ActionSuccessful
              schema:
                $ref: '#/components/schemas/ActionLog'
            application/json:
              example:
                id: b9c3f647-5ce8-4d4c-9599-bd6addf6ff29
                origin:
                  taskId: c17a8537-68b0-460b-8cbb-a86724163c83
                  requestId: TestRequestId
                actionType: RunWorker
                runAsUserId: TestUserId
                loggedItems:
                - timestamp: 2024-01-02T03:00:00.0000000+00:00
                  logType: ActionSubmitted
                - timestamp: 2024-01-02T03:01:00.0000000+00:00
                  logType: ActionInitialising
                - timestamp: 2024-01-02T03:02:00.0000000+00:00
                  logType: ActionStarted
                - timestamp: 2024-01-02T03:02:00.0000000+00:00
                  logType: ActionProgressUpdate
                  details: Processing Luminesce query
                - timestamp: 2024-01-02T03:03:00.0000000+00:00
                  logType: ActionSuccessful
              schema:
                $ref: '#/components/schemas/ActionLog'
            text/json:
              example:
                id: b9c3f647-5ce8-4d4c-9599-bd6addf6ff29
                origin:
                  taskId: c17a8537-68b0-460b-8cbb-a86724163c83
                  requestId: TestRequestId
                actionType: RunWorker
                runAsUserId: TestUserId
                loggedItems:
                - timestamp: 2024-01-02T03:00:00.0000000+00:00
                  logType: ActionSubmitted
                - timestamp: 2024-01-02T03:01:00.0000000+00:00
                  logType: ActionInitialising
                - timestamp: 2024-01-02T03:02:00.0000000+00:00
                  logType: ActionStarted
                - timestamp: 2024-01-02T03:02:00.0000000+00:00
                  logType: ActionProgressUpdate
                  details: Processing Luminesce query
                - timestamp: 2024-01-02T03:03:00.0000000+00:00
                  logType: ActionSuccessful
              schema:
                $ref: '#/components/schemas/ActionLog'
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Action Log not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetActionLogs: Get the Action Logs for an Action Id"
      tags:
      - Action Logs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/eventhandlers:
    get:
      operationId: ListEventHandlers
      parameters:
      - description: The asAt datetime at which to list the Event Handlers. Defaults
          to return the latest version of each Event Handler if not specified.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: "Expression to filter the result set. Read more about filtering\
          \ results from LUSID here: https://support.lusid.com/filtering-results-from-lusid."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "When paginating, limit the number of returned results to this\
          \ many."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "The pagination token to use to continue listing event handlers\
          \ from a previous call to list event handlers. This value is returned from\
          \ the previous call. If a pagination token is provided the sortBy, filter,\
          \ effectiveAt, and asAt fields must not have changed since the original\
          \ request."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                values:
                - id:
                    scope: A1
                    code: ZZZ
                  version:
                    asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                    userIdCreated: User-1
                    requestIdCreated: RequestId-1
                    asAtModified: 2022-01-01T01:02:03.0000000+00:00
                    userIdModified: User-1
                    requestIdModified: RequestId-1
                    asAtVersionNumber: 1
                  displayName: An example Event Handler
                  description: Test
                  status: Active
                  eventMatchingPattern:
                    eventType: PortfolioCreated
                    filter: body.portfolioScope eq 'TestScope'
                  runAsUserId:
                    setTo: ExampleUserId
                  taskDefinitionId:
                    scope: A1
                    code: YYY
                  taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
                  taskActivity:
                    initialTrigger: InitialTrigger
                    type: CreateNewTask
                    correlationIds: []
                    taskFields: {}
                links: []
              schema:
                $ref: '#/components/schemas/PagedResourceListOfEventHandler'
          description: List of Event Handlers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListEventHandlers: List Event Handlers"
      tags:
      - Event Handlers
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    post:
      operationId: CreateEventHandler
      requestBody:
        content:
          application/json-patch+json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/CreateEventHandlerRequest'
          application/json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/CreateEventHandlerRequest'
          text/json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/CreateEventHandlerRequest'
          application/*+json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/CreateEventHandlerRequest'
        description: The data to create an Event Handler
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id:
                  scope: A1
                  code: ZZZ
                version:
                  asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                  userIdCreated: User-1
                  requestIdCreated: RequestId-1
                  asAtModified: 2022-01-01T01:02:03.0000000+00:00
                  userIdModified: User-1
                  requestIdModified: RequestId-1
                  asAtVersionNumber: 1
                displayName: An example Event Handler
                description: Test
                status: Active
                eventMatchingPattern:
                  eventType: PortfolioCreated
                  filter: body.portfolioScope eq 'TestScope'
                runAsUserId:
                  setTo: ExampleUserId
                taskDefinitionId:
                  scope: A1
                  code: YYY
                taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
                taskActivity:
                  initialTrigger: InitialTrigger
                  type: CreateNewTask
                  correlationIds: []
                  taskFields: {}
              schema:
                $ref: '#/components/schemas/EventHandler'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] CreateEventHandler: Create a new Event Handler"
      tags:
      - Event Handlers
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/eventhandlers/{scope}/{code}:
    delete:
      description: If the Event Handler does not exist a failure will be returned
      operationId: DeleteEventHandler
      parameters:
      - description: Scope of the event handler to be deleted
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 512
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: Code of the event handler to be deleted
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 512
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedEntityResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Event Handler not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DeleteEventHandler: Delete an Event Handler"
      tags:
      - Event Handlers
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    get:
      description: Will return a NotFound failure if the event handler does not exist
      operationId: GetEventHandler
      parameters:
      - description: Scope of the event handler
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: Code of the event handler
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The asAt datetime at which to retrieve the event handler. Defaults
          to returning the latest version of the event handler if not specified.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      responses:
        "201":
          content:
            application/json:
              example:
                id:
                  scope: A1
                  code: ZZZ
                version:
                  asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                  userIdCreated: User-1
                  requestIdCreated: RequestId-1
                  asAtModified: 2022-01-01T01:02:03.0000000+00:00
                  userIdModified: User-1
                  requestIdModified: RequestId-1
                  asAtVersionNumber: 1
                displayName: An example Event Handler
                description: Test
                status: Active
                eventMatchingPattern:
                  eventType: PortfolioCreated
                  filter: body.portfolioScope eq 'TestScope'
                runAsUserId:
                  setTo: ExampleUserId
                taskDefinitionId:
                  scope: A1
                  code: YYY
                taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
                taskActivity:
                  initialTrigger: InitialTrigger
                  type: CreateNewTask
                  correlationIds: []
                  taskFields: {}
              schema:
                $ref: '#/components/schemas/EventHandler'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetEventHandler: Get an Event Handler"
      tags:
      - Event Handlers
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    put:
      operationId: UpdateEventHandler
      parameters:
      - description: The scope that identifies an Event Handler
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The code that identifies an Event Handler
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            example:
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/UpdateEventHandlerRequest'
          application/json:
            example:
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/UpdateEventHandlerRequest'
          text/json:
            example:
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/UpdateEventHandlerRequest'
          application/*+json:
            example:
              displayName: An example Event Handler
              description: Test
              status: Active
              eventMatchingPattern:
                eventType: PortfolioCreated
                filter: body.portfolioScope eq 'TestScope'
              runAsUserId:
                setTo: ExampleUserId
              taskDefinitionId:
                scope: A1
                code: YYY
              taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
              taskActivity:
                initialTrigger: InitialTrigger
                type: CreateNewTask
                correlationIds: []
                taskFields: {}
            schema:
              $ref: '#/components/schemas/UpdateEventHandlerRequest'
        description: The data to update an Event Handler
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id:
                  scope: A1
                  code: ZZZ
                version:
                  asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                  userIdCreated: User-1
                  requestIdCreated: RequestId-1
                  asAtModified: 2022-01-01T01:02:03.0000000+00:00
                  userIdModified: User-1
                  requestIdModified: RequestId-1
                  asAtVersionNumber: 1
                displayName: An example Event Handler
                description: Test
                status: Active
                eventMatchingPattern:
                  eventType: PortfolioCreated
                  filter: body.portfolioScope eq 'TestScope'
                runAsUserId:
                  setTo: ExampleUserId
                taskDefinitionId:
                  scope: A1
                  code: YYY
                taskDefinitionAsAt: 9999-12-31T23:59:59.9999999+00:00
                taskActivity:
                  initialTrigger: InitialTrigger
                  type: CreateNewTask
                  correlationIds: []
                  taskFields: {}
              schema:
                $ref: '#/components/schemas/EventHandler'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Event Handler not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] UpdateEventHandler: Update an existing Event handler"
      tags:
      - Event Handlers
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/metadata/access/resources:
    get:
      description: Get the comprehensive set of resources that are available for access
        control
      operationId: ListAccessControlledResources
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListAccessControlledResources: Get resources available\
        \ for access control"
      tags:
      - Application Metadata
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/taskdefinitions:
    get:
      operationId: ListTaskDefinitions
      parameters:
      - description: The asAt datetime at which to list the Task Definitions. Defaults
          to return the latest version of each Task Definition if not specified.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: "Expression to filter the result set. Read more about filtering\
          \ results from LUSID here: https://support.lusid.com/filtering-results-from-lusid."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "A list of field names or properties to sort by, each suffixed\
          \ by \" ASC\" or \" DESC\""
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "When paginating, limit the number of returned results to this\
          \ many."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "The pagination token to use to continue listing task definitions\
          \ from a previous call to list task definitions. This value is returned\
          \ from the previous call. If a pagination token is provided the sortBy,\
          \ filter, effectiveAt, and asAt fields must not have changed since the original\
          \ request."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                values:
                - id:
                    scope: A1
                    code: ZZZ
                  version:
                    asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                    userIdCreated: User-1
                    requestIdCreated: RequestId-1
                    asAtModified: 2022-01-01T01:02:03.0000000+00:00
                    userIdModified: User-1
                    requestIdModified: RequestId-1
                    asAtVersionNumber: 1
                  displayName: An example TaskDefinition
                  description: Test
                  states:
                  - name: Submitted
                  - name: InProgress
                  - name: SendingSurvey
                  - name: Done
                  - name: SurveyNotSent
                  - name: NotDone
                  fieldSchema:
                  - name: clientId
                    type: String
                  - name: assignee
                    type: String
                    readOnlyStates:
                      stateType: SelectedStates
                      selectedStates:
                      - Submitted
                      - Done
                      - SurveyNotSent
                      - NotDone
                  - name: resolutionDetail
                    type: String
                    readOnlyStates:
                      stateType: TerminalState
                  initialState:
                    name: Submitted
                    requiredFields:
                    - clientId
                  triggers:
                  - name: start
                    trigger:
                      type: External
                  - name: cancel
                    trigger:
                      type: External
                  - name: resolve
                    trigger:
                      type: External
                  - name: timeout
                    trigger:
                      type: External
                  - name: success
                    trigger:
                      type: External
                  - name: failure
                    trigger:
                      type: External
                  actions:
                  - name: health-check
                    runAsUserId: user-id
                    actionDetails:
                      type: RunWorker
                      workerId:
                        scope: Health
                        code: HealthCheckWorker
                      workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                      workerParameters: {}
                      workerStatusTriggers:
                        started: null
                        completedWithResults: null
                        completedNoResults: null
                        failedToStart: null
                        failedToComplete: null
                      childTaskConfigurations:
                      - taskDefinitionId:
                          scope: AAA
                          code: BBB
                        mapStackingKeyFrom: null
                        childTaskFields:
                          assignee:
                            mapFrom: foo
                            setTo: bar
                        resultMatchingPattern: null
                        taskDefinitionAsAt: null
                        initialTrigger: test-trigger
                      workerTimeout: 120
                  transitions:
                  - fromState: Submitted
                    toState: InProgress
                    trigger: start
                    guard: "fields['assignee'] exists AND fields['assignee'] NOT eq\
                      \ ''"
                  - fromState: InProgress
                    toState: SendingSurvey
                    trigger: resolve
                    guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                      \ NOT eq ''"
                    action: health-check
                  - fromState: SendingSurvey
                    toState: Done
                    trigger: success
                  - fromState: SendingSurvey
                    toState: SurveyNotSent
                    trigger: failure
                  - fromState: SendingSurvey
                    toState: NotDone
                    trigger: timeout
                  - fromState: InProgress
                    toState: NotDone
                    trigger: cancel
                    guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                      \ NOT eq ''"
                links: []
              schema:
                $ref: '#/components/schemas/PagedResourceListOfTaskDefinition'
          description: List of Task Definitions
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: No Task Definitions found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListTaskDefinitions: List Task Definitions"
      tags:
      - Task Definitions
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    post:
      operationId: CreateTaskDefinition
      requestBody:
        content:
          application/json-patch+json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/CreateTaskDefinitionRequest'
          application/json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/CreateTaskDefinitionRequest'
          text/json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/CreateTaskDefinitionRequest'
          application/*+json:
            example:
              id:
                scope: A1
                code: ZZZ
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/CreateTaskDefinitionRequest'
        description: The data to create a Task Definition
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id:
                  scope: A1
                  code: ZZZ
                version:
                  asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                  userIdCreated: User-1
                  requestIdCreated: RequestId-1
                  asAtModified: 2022-01-01T01:02:03.0000000+00:00
                  userIdModified: User-1
                  requestIdModified: RequestId-1
                  asAtVersionNumber: 1
                displayName: An example TaskDefinition
                description: Test
                states:
                - name: Submitted
                - name: InProgress
                - name: SendingSurvey
                - name: Done
                - name: SurveyNotSent
                - name: NotDone
                fieldSchema:
                - name: clientId
                  type: String
                - name: assignee
                  type: String
                  readOnlyStates:
                    stateType: SelectedStates
                    selectedStates:
                    - Submitted
                    - Done
                    - SurveyNotSent
                    - NotDone
                - name: resolutionDetail
                  type: String
                  readOnlyStates:
                    stateType: TerminalState
                initialState:
                  name: Submitted
                  requiredFields:
                  - clientId
                triggers:
                - name: start
                  trigger:
                    type: External
                - name: cancel
                  trigger:
                    type: External
                - name: resolve
                  trigger:
                    type: External
                - name: timeout
                  trigger:
                    type: External
                - name: success
                  trigger:
                    type: External
                - name: failure
                  trigger:
                    type: External
                actions:
                - name: health-check
                  runAsUserId: user-id
                  actionDetails:
                    type: RunWorker
                    workerId:
                      scope: Health
                      code: HealthCheckWorker
                    workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                    workerParameters: {}
                    workerStatusTriggers:
                      started: null
                      completedWithResults: null
                      completedNoResults: null
                      failedToStart: null
                      failedToComplete: null
                    childTaskConfigurations:
                    - taskDefinitionId:
                        scope: AAA
                        code: BBB
                      mapStackingKeyFrom: null
                      childTaskFields:
                        assignee:
                          mapFrom: foo
                          setTo: bar
                      resultMatchingPattern: null
                      taskDefinitionAsAt: null
                      initialTrigger: test-trigger
                    workerTimeout: 120
                transitions:
                - fromState: Submitted
                  toState: InProgress
                  trigger: start
                  guard: "fields['assignee'] exists AND fields['assignee'] NOT eq\
                    \ ''"
                - fromState: InProgress
                  toState: SendingSurvey
                  trigger: resolve
                  guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                    \ NOT eq ''"
                  action: health-check
                - fromState: SendingSurvey
                  toState: Done
                  trigger: success
                - fromState: SendingSurvey
                  toState: SurveyNotSent
                  trigger: failure
                - fromState: SendingSurvey
                  toState: NotDone
                  trigger: timeout
                - fromState: InProgress
                  toState: NotDone
                  trigger: cancel
                  guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                    \ NOT eq ''"
              schema:
                $ref: '#/components/schemas/TaskDefinition'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] CreateTaskDefinition: Create a new Task Definition"
      tags:
      - Task Definitions
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/taskdefinitions/{scope}/{code}:
    delete:
      operationId: DeleteTaskDefinition
      parameters:
      - description: The scope that identifies a Task Definition
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 512
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The code that identifies a Task Definition
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 512
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedEntityResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Task Definition not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DeleteTaskDefinition: Delete a Task Definition"
      tags:
      - Task Definitions
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    get:
      operationId: GetTaskDefinition
      parameters:
      - description: The scope that identifies a Task Definition
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The code that identifies a Task Definition
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The asAt datetime at which to retrieve the Task Definition. Defaults
          to returning the latest version of the Task Definition if not specified.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            application/json:
              example:
                id:
                  scope: A1
                  code: ZZZ
                version:
                  asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                  userIdCreated: User-1
                  requestIdCreated: RequestId-1
                  asAtModified: 2022-01-01T01:02:03.0000000+00:00
                  userIdModified: User-1
                  requestIdModified: RequestId-1
                  asAtVersionNumber: 1
                displayName: An example TaskDefinition
                description: Test
                states:
                - name: Submitted
                - name: InProgress
                - name: SendingSurvey
                - name: Done
                - name: SurveyNotSent
                - name: NotDone
                fieldSchema:
                - name: clientId
                  type: String
                - name: assignee
                  type: String
                  readOnlyStates:
                    stateType: SelectedStates
                    selectedStates:
                    - Submitted
                    - Done
                    - SurveyNotSent
                    - NotDone
                - name: resolutionDetail
                  type: String
                  readOnlyStates:
                    stateType: TerminalState
                initialState:
                  name: Submitted
                  requiredFields:
                  - clientId
                triggers:
                - name: start
                  trigger:
                    type: External
                - name: cancel
                  trigger:
                    type: External
                - name: resolve
                  trigger:
                    type: External
                - name: timeout
                  trigger:
                    type: External
                - name: success
                  trigger:
                    type: External
                - name: failure
                  trigger:
                    type: External
                actions:
                - name: health-check
                  runAsUserId: user-id
                  actionDetails:
                    type: RunWorker
                    workerId:
                      scope: Health
                      code: HealthCheckWorker
                    workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                    workerParameters: {}
                    workerStatusTriggers:
                      started: null
                      completedWithResults: null
                      completedNoResults: null
                      failedToStart: null
                      failedToComplete: null
                    childTaskConfigurations:
                    - taskDefinitionId:
                        scope: AAA
                        code: BBB
                      mapStackingKeyFrom: null
                      childTaskFields:
                        assignee:
                          mapFrom: foo
                          setTo: bar
                      resultMatchingPattern: null
                      taskDefinitionAsAt: null
                      initialTrigger: test-trigger
                    workerTimeout: 120
                transitions:
                - fromState: Submitted
                  toState: InProgress
                  trigger: start
                  guard: "fields['assignee'] exists AND fields['assignee'] NOT eq\
                    \ ''"
                - fromState: InProgress
                  toState: SendingSurvey
                  trigger: resolve
                  guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                    \ NOT eq ''"
                  action: health-check
                - fromState: SendingSurvey
                  toState: Done
                  trigger: success
                - fromState: SendingSurvey
                  toState: SurveyNotSent
                  trigger: failure
                - fromState: SendingSurvey
                  toState: NotDone
                  trigger: timeout
                - fromState: InProgress
                  toState: NotDone
                  trigger: cancel
                  guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                    \ NOT eq ''"
              schema:
                $ref: '#/components/schemas/TaskDefinition'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Task Definition not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetTaskDefinition: Get a Task Definition"
      tags:
      - Task Definitions
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    put:
      operationId: UpdateTaskDefinition
      parameters:
      - description: The scope that identifies a Task Definition
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The code that identifies a Task Definition
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            example:
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/UpdateTaskDefinitionRequest'
          application/json:
            example:
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/UpdateTaskDefinitionRequest'
          text/json:
            example:
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/UpdateTaskDefinitionRequest'
          application/*+json:
            example:
              displayName: An example TaskDefinition
              description: Test
              states:
              - name: Submitted
              - name: InProgress
              - name: SendingSurvey
              - name: Done
              - name: SurveyNotSent
              - name: NotDone
              fieldSchema:
              - name: clientId
                type: String
              - name: assignee
                type: String
                readOnlyStates:
                  stateType: SelectedStates
                  selectedStates:
                  - Submitted
                  - Done
                  - SurveyNotSent
                  - NotDone
              - name: resolutionDetail
                type: String
                readOnlyStates:
                  stateType: TerminalState
              initialState:
                name: Submitted
                requiredFields:
                - clientId
              triggers:
              - name: start
                trigger:
                  type: External
              - name: cancel
                trigger:
                  type: External
              - name: resolve
                trigger:
                  type: External
              - name: timeout
                trigger:
                  type: External
              - name: success
                trigger:
                  type: External
              - name: failure
                trigger:
                  type: External
              transitions:
              - fromState: Submitted
                toState: InProgress
                trigger: start
                guard: "fields['assignee'] exists AND fields['assignee'] NOT eq ''"
              - fromState: InProgress
                toState: SendingSurvey
                trigger: resolve
                guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                  \ NOT eq ''"
                action: health-check
              - fromState: SendingSurvey
                toState: Done
                trigger: success
              - fromState: SendingSurvey
                toState: SurveyNotSent
                trigger: failure
              - fromState: SendingSurvey
                toState: NotDone
                trigger: timeout
              - fromState: InProgress
                toState: NotDone
                trigger: cancel
                guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                  \ NOT eq ''"
              actions:
              - name: health-check
                runAsUserId: user-id
                actionDetails:
                  type: RunWorker
                  workerId:
                    scope: Health
                    code: HealthCheckWorker
                  workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                  workerParameters: {}
                  workerStatusTriggers:
                    started: null
                    completedWithResults: null
                    completedNoResults: null
                    failedToStart: null
                    failedToComplete: null
                  childTaskConfigurations:
                  - taskDefinitionId:
                      scope: AAA
                      code: BBB
                    mapStackingKeyFrom: null
                    childTaskFields:
                      assignee:
                        mapFrom: foo
                        setTo: bar
                    resultMatchingPattern: null
                    taskDefinitionAsAt: null
                    initialTrigger: test-trigger
                  workerTimeout: 120
            schema:
              $ref: '#/components/schemas/UpdateTaskDefinitionRequest'
        description: The data to update a Task Definition
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id:
                  scope: A1
                  code: ZZZ
                version:
                  asAtCreated: 2022-01-01T01:02:03.0000000+00:00
                  userIdCreated: User-1
                  requestIdCreated: RequestId-1
                  asAtModified: 2022-01-01T01:02:03.0000000+00:00
                  userIdModified: User-1
                  requestIdModified: RequestId-1
                  asAtVersionNumber: 1
                displayName: An example TaskDefinition
                description: Test
                states:
                - name: Submitted
                - name: InProgress
                - name: SendingSurvey
                - name: Done
                - name: SurveyNotSent
                - name: NotDone
                fieldSchema:
                - name: clientId
                  type: String
                - name: assignee
                  type: String
                  readOnlyStates:
                    stateType: SelectedStates
                    selectedStates:
                    - Submitted
                    - Done
                    - SurveyNotSent
                    - NotDone
                - name: resolutionDetail
                  type: String
                  readOnlyStates:
                    stateType: TerminalState
                initialState:
                  name: Submitted
                  requiredFields:
                  - clientId
                triggers:
                - name: start
                  trigger:
                    type: External
                - name: cancel
                  trigger:
                    type: External
                - name: resolve
                  trigger:
                    type: External
                - name: timeout
                  trigger:
                    type: External
                - name: success
                  trigger:
                    type: External
                - name: failure
                  trigger:
                    type: External
                actions:
                - name: health-check
                  runAsUserId: user-id
                  actionDetails:
                    type: RunWorker
                    workerId:
                      scope: Health
                      code: HealthCheckWorker
                    workerAsAt: 2022-01-01T01:02:03.0000000+00:00
                    workerParameters: {}
                    workerStatusTriggers:
                      started: null
                      completedWithResults: null
                      completedNoResults: null
                      failedToStart: null
                      failedToComplete: null
                    childTaskConfigurations:
                    - taskDefinitionId:
                        scope: AAA
                        code: BBB
                      mapStackingKeyFrom: null
                      childTaskFields:
                        assignee:
                          mapFrom: foo
                          setTo: bar
                      resultMatchingPattern: null
                      taskDefinitionAsAt: null
                      initialTrigger: test-trigger
                    workerTimeout: 120
                transitions:
                - fromState: Submitted
                  toState: InProgress
                  trigger: start
                  guard: "fields['assignee'] exists AND fields['assignee'] NOT eq\
                    \ ''"
                - fromState: InProgress
                  toState: SendingSurvey
                  trigger: resolve
                  guard: "fields['resolutionDetail'] exists AND fields['resolutionDetail']\
                    \ NOT eq ''"
                  action: health-check
                - fromState: SendingSurvey
                  toState: Done
                  trigger: success
                - fromState: SendingSurvey
                  toState: SurveyNotSent
                  trigger: failure
                - fromState: SendingSurvey
                  toState: NotDone
                  trigger: timeout
                - fromState: InProgress
                  toState: NotDone
                  trigger: cancel
                  guard: "fields['cancellationDetail'] exists AND fields['cancellationDetail']\
                    \ NOT eq ''"
              schema:
                $ref: '#/components/schemas/TaskDefinition'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Task Definition not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] UpdateTaskDefinition: Update an existing Task Definition"
      tags:
      - Task Definitions
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/taskdefinitions/{scope}/{code}/tasks:
    get:
      operationId: ListTasksForTaskDefinition
      parameters:
      - description: The scope that identifies a Task Definition
        explode: false
        in: path
        name: scope
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The code that identifies a Task Definition
        explode: false
        in: path
        name: code
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      - description: The asAt datetime at which to list the Tasks. Defaults to return
          the latest version of each Task if not specified.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfTask'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: No tasks found for this Task Definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListTasksForTaskDefinition: List Tasks for a Task Definition"
      tags:
      - Task Definitions
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/tasks:
    get:
      operationId: ListTasks
      parameters:
      - description: The asAt datetime at which to list the Tasks. Defaults to return
          the latest version of each Task if not specified.
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: "Expression to filter the result set. Read more about filtering\
          \ results from LUSID here: https://support.lusid.com/filtering-results-from-lusid."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "A list of field names or properties to sort by, each optionally\
          \ suffixed by \" ASC\" or \" DESC\""
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "When paginating, limit the number of returned results to this\
          \ many."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "The pagination token to use to continue listing tasks from a\
          \ previous call to list tasks. This value is returned from the previous\
          \ call. If a pagination token is provided the sortBy, filter, effectiveAt,\
          \ and asAt fields must not have changed since the original request."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceListOfTask'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: No Tasks found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "ListTasks: List Tasks"
      tags:
      - Tasks
      x-fbn-apistatus: Stable
      x-accepts: application/json
    post:
      operationId: CreateTask
      parameters:
      - description: The name of the Trigger to invoke
        explode: true
        in: query
        name: trigger
        required: false
        schema:
          maxLength: 1024
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              taskDefinitionId:
                scope: A1
                code: ZZZ
              correlationIds:
              - correlation-id
              fields:
              - name: clientId
                value: zzz123
              - name: assignee
              - name: resolutionDetail
                value: ""
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
          application/json:
            example:
              taskDefinitionId:
                scope: A1
                code: ZZZ
              correlationIds:
              - correlation-id
              fields:
              - name: clientId
                value: zzz123
              - name: assignee
              - name: resolutionDetail
                value: ""
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
          text/json:
            example:
              taskDefinitionId:
                scope: A1
                code: ZZZ
              correlationIds:
              - correlation-id
              fields:
              - name: clientId
                value: zzz123
              - name: assignee
              - name: resolutionDetail
                value: ""
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
          application/*+json:
            example:
              taskDefinitionId:
                scope: A1
                code: ZZZ
              correlationIds:
              - correlation-id
              fields:
              - name: clientId
                value: zzz123
              - name: assignee
              - name: resolutionDetail
                value: ""
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
        description: Request to create Task
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: 4aa4b4e1-866a-493e-8d33-51f9e47a0843
                taskDefinitionId:
                  scope: A1
                  code: ZZZ
                taskDefinitionVersion:
                  asAtModified: 0001-01-01T00:00:00.0000000+00:00
                taskDefinitionDisplayName: Test Definition
                state: foo
                ultimateParentTask:
                  id: 4aa4b4e1-866a-493e-8d33-51f9e47a0843
                  taskDefinitionId:
                    scope: A1
                    code: ZZZ
                  taskDefinitionVersion:
                    asAtModified: 0001-01-01T00:00:00.0000000+00:00
                  taskDefinitionDisplayName: Test Definition
                  state: foo
                correlationIds:
                - correlation-id
                terminalState: false
                asAtLastTransition: 2022-01-01T01:02:03.0000000+00:00
              schema:
                $ref: '#/components/schemas/Task'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] CreateTask: Create a new Task"
      tags:
      - Tasks
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/tasks/$delete:
    post:
      operationId: DeleteTasks
      requestBody:
        content:
          application/json-patch+json:
            example:
              taskIds:
              - TaskInstanceId
            schema:
              $ref: '#/components/schemas/DeleteTasksRequest'
          application/json:
            example:
              taskIds:
              - TaskInstanceId
            schema:
              $ref: '#/components/schemas/DeleteTasksRequest'
          text/json:
            example:
              taskIds:
              - TaskInstanceId
            schema:
              $ref: '#/components/schemas/DeleteTasksRequest'
          application/*+json:
            example:
              taskIds:
              - TaskInstanceId
            schema:
              $ref: '#/components/schemas/DeleteTasksRequest'
        description: Request with the task instance ids to delete.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedEntityResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Task not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DeleteTasks: Batch Delete Tasks"
      tags:
      - Tasks
      x-fbn-apistatus: Experimental
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/tasks/{id}:
    delete:
      operationId: DeleteTask
      parameters:
      - description: The identifier for the Task to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 36
          minLength: 36
          pattern: "^[a-zA-Z0-9\\-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
